server:
  port: 8001
spring:
  application:
    name: business-provider
  datasource:
    druid:
      driver-class-name: com.mysql.jdbc.Driver
      url: jdbc:mysql://localhost:3306/test?useSSL=false
      username: root
      password: root

#指定当前服务注册的 '服务注册与发现中心'的地址
eureka:
  client:
    service-url:
      defaultzone: http://localhost:8761/eureka

mybatis:
  mapper-locations: classpath:mappers/*.xml
  type-aliases-package: com.example.businesscommons.pojo